@model RecentWorkCompononent

@{
    ViewData["Title"] = "Detail";
}

<div class="clearfix"></div>

<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Vertical Form</div>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label asp-for="Id"></label>
                                <h1 class="form-control">@Model.Id</h1>
                            </div>
                            <div class="form-group">
                                <label asp-for="Title"></label>
                                <h1 class="form-control">@Model.Title</h1>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <h1 class="form-control">@Model.Description</h1>
                            </div>
                            <div class="form-group">
                                <label asp-for="Image"></label>
                                <img src="~/assets/img/@Model.Image" />
                            </div>

                            <div class="form-group">
                                <a asp-action="index" class="btn btn-light px-5">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





